<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col-md-8">
      <form #formLogin = "ngForm" ngNativeValidate (ngSubmit) = "getLogin(formLogin)">
        <div class="form-group">
          <label for="userlogin">Usuario:</label>
          <input type="text" class="form-control" id="userlogin" placeholder="Introduzca el usuario" >
        </div>
        <div class="form-group">
          <label for="passloging">Pasword:</label>
          <input type="password" class="form-control" id="passlogin" placeholder="Introduzca el password" >
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="row">
  </div>
</div>
