<nav *ngIf="tipoUsuario==0" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gestion Clientes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="inicio/0/listclients">Listar Clientes</a>
          <a class="dropdown-item" routerLink='/inicio/0/newclient'>Alta Cliente</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink='/inicio/0/listusers'>Listar Usuarios</a>
          <a class="dropdown-item" href="#">Alta Usuario</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<nav *ngIf="tipoUsuario==1" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gestion Clientes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Clientes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="inicio/1/listclients">Listar Clientes</a>
        </div>
      </li>
      <li *ngIf="tipoUsuario==0" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink='/inicio/0/listusers'>Listar Usuarios</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<body>
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">USUARIO</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">TIPO USUARIO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of usuarios'>
        <th scope="row">{{user.usuarioid}}</th>
        <th scope="row">{{user.usuario | uppercase}}</th>
        <th scope="row">{{user.nombre | uppercase}}</th>
        <th scope="row">{{user.tipousuario}}</th>
        <th scope="row>">
        <button *ngIf="tipoUsuario==0" type="button" class="btn btn-primary" [routerLink] = "['/inicio/0/detailuser/', user.usuarioid]">Detalle</button>
        <button *ngIf="tipoUsuario==1" type="button" class="btn btn-primary" [routerLink] = "['/inicio/1/detailuser/', user.usuarioid]">Detalle</button>
        <button *ngIf="tipoUsuario==0" type="button" class="btn btn-danger" [routerLink]="['/inicio/0/deleteuser',user.usuarioid]">Eliminar</button>
        <button *ngIf="tipoUsuario==0" type="button" class="btn btn-info" [routerLink]="['/inicio/0/updateuser',user.usuarioid]">Actualizar</button>
        </th>
      </tr>
    </tbody>
  </table>
</body>

